<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col">
      <img
      src="https://www.drniveditadadu.com/images/logo.png"
      alt="logotipo"
      class="logotipo" >
    </div>

    <div class="col" style="text-align:right">
      <h2>Dr. Nivedita Dadu</h2>
      <p>M.B.B.S, (M.A.M.C.)</p>  
      <p>(D.D.V.L., D.N.b., M.N.A.M.S.(Dermatology) Safdarjung Hospital</p>  
      <p>Ex-consultatnt BL Kapoor Hospital</p> 
      <div class="address">
        <p style="margin-top:10px"><b>Member Of</b></p>
        <p>IADVL(Indian Association of Dermatologists, Venereologists and Leprologists)</p>
        <p>ACSI(Association of Cutaneous Surgeons of India)</p>
        <p>Reg. No. DMC/R/01996</p>
        <p>+91-9810939319 | +91-9958573501</p>
      </div>
    </div>
  </div>






<div class="container">
	<div id="default">

		<div id="div1">
			<!--   -->
			<!-- start hoder area -->
			<!--  -->
			<div class="container">
				<div class="main-header">
					<div class="row header_area">
						<div class="hed-1 ">
							<b>Date :</b> 
    	                    13-Mar-2020 07:49:45am Friday    	            
						</div>
						<div class="hed-2">                      
    	                Patient Id: 1,
    	                Appointment Id: A20T1TA 
    	                
							<a style="color: rgb(255, 255, 255);margin-left: 70px;
    	                font-weight: bold;
    	                font-size: 15px;" target="_blank" href="https://doctorssnew.bdtask.com/History_controller/patient_history/1"> History</a>
						</div>
					</div>
					<div class="row address_area">
						<div class="a-one">
							<h4>Dr. Kumar</h4>
    	                MBBS, DDB, FRSH
							<br>
								<b>Skin , Allergy &amp; V.D Specialist</b>
								<br>
    	                Assistant Professor
									<br>
										<b>Ellis Avenue, Mai Dhaka -1215</b>
									</div>
									<div class="a-two">
										<b>Dr.Manohar L.Dawan</b>
										<br>
    	                32,Civil Lines, PBM Hospital Road,
    	                9929789442    	            
										</div>
									</div>
								</div>
							</div>
							<!--   -->
							<!-- end hoder area -->
							<!--  -->
							<!--   -->
							<!-- start content area -->
							<!--  -->
							<div class="container">
								<div class="row" style="margin-top: 10px;">
									<!-- laft sideber -->
									<div class="col-md-4 col-sm-4 left-side">
										<div class="problem">
											<h4>Patient CC </h4>
											<li style="margin-left:20px;">12</li>
										</div>
										<div class="temperature">
											<h4>Temperature : 12
												<sup>&deg</sup>C
											</h4>
										</div>
										<div class="test-list">
											<h4>Test</h4>
											<ul>
												<li>1 .  took a galley of type </li>
												<li>2 . </li>
											</ul>
										</div>
									</div>
									<!--end left sideber-->
									<!-- right sideber -->
									<div class="col-md-8 col-sm-8 right-side">
										<div class="table-responsive marg">
											<table  class="table table-bordered table-hover">
												<thead>
													<tr>
														<th style="border: 1px solid #ddd;">SL</th>
														<th>Type</th>
														<th>Medicine Name</th>
														<th>Mg/Ml</th>
														<th>Dose </th>
														<th>Day</th>
														<th>Comments</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1</td>
														<td>cap</td>
														<td>Napa-ex</td>
														<td>12</td>
														<td>1</td>
														<td>1</td>
														<td>1+1+1</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td colspan="7" class="text-center">
													
													</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
								<!-- end right sideber-->
							</div>
						</div>
						<!--   -->
						<!-- start footer area -->
						<!--  -->
						<div class="container" style="position:fixed;bottom:0px;">
							<div class="row main-footer">
								<div class="col-sm-7 f1">
									<p id="link">https://doctorssnew.bdtask.com/</p>
								</div>
								<div class="col-sm-5 f2">
									<p id="signature">Signature</p>
								</div>
							</div>
							<div class="col-sm-12 footer1">
	                CHAMBER TIME:
	                Start Time : 11:00 AM,
	                End Time : 11:00 PM	            </div>
						</div>
					</div>
					<!--   -->
					<!-- end footer area -->
					<!--  -->
				</div>
			</div>





  <!-- <div class="row no-gutters items-group">
    <div class="col-3 label">
      <p>Cliente:</p>
      <p>Contacto:</p>
    </div>

    <div class="col-9">
      <p>Manuel Alberto Magalhães Carvalho</p>
      <p>91 000 00 00</p>
    </div>
  </div>

  <div class="row no-gutters items-group">
    <div class="col-3 label">
      <p>Equipamento:</p>
      <p>Cor:</p>
      <p>Serial:</p>
      <p>Problema:</p>
      <p>Observações:</p>
    </div>

    <div class="col-9">
      <p>Telemóvel > Apple > Iphone 6</p>
      <p>Cinza</p>
      <p>appl2015ewfwejuk23423</p>
      <p>Não arranca</p>
      <p>codigo: 1798 - tem de ficar pronto até dia 12/02/2019</p>
    </div>
  </div>

  <div class="row no-gutters items-group">
    <div class="col">
      <p class="label">Condições Gerais:</p>
      <ul class="disclaimer">
        <li>Prazo para levantar 90 dias</li>
        <li>Garantia 90 dias</li>
        <li>Esta assistência só é entregue a quem apresentar este documento</li>
        <li>O preço acresce 10% a cada 30 dias após fim do prazo de levantamento (taxa de conservação)</li>
        <li>Os dados do cliente, acima mencionados, ficam registados na N Reparações apenas para efeitos de comunicação
          em relação às suas assistências e facturação
        </li>
      </ul>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col">
      <p class="disclaimer signature-field">Declaro que li e concordo com o disposto neste documento em 03/02/2019</p>
    </div>
  </div> -->
</div>